@import 'src/commons/styles';

.Button {
  button {
    font: inherit;
    color: $prussian-blue;
    background-color: $lavender-web;
    border-radius: 5%;
    border: none;

    &:hover {
      background-color: $pistachio;
      color: $mint-cream;
      cursor: pointer;
    }
  }
}

.Small {
  button {
    font-size: 1.2rem;
    width: 3rem;
    height: 1rem;
  }
}

.Medium {
  button {
    font-size: 1.5rem;
    width: 5rem;
    height: 3rem;
  }
}

.Large {
  button {
    font-size: 2rem;
    width: 7rem;
    height: 5rem;
  }
}