@import 'src/commons/styles';

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $pistachio;
  padding: 0.7rem;
  border-radius: 2.5%;
}

.Active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $pistachio;
  position: absolute;
  top: 6rem;
  right: -100rem;
  width: 8rem;
  padding: 1rem;
  animation: slide-in 0s forwards;
  border-radius: 1%;
  z-index: 10;

  a {
    padding: 1rem 0.5rem 1rem 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }

  @keyframes slide-in {
    100% {
      right: 1.5rem;
    }
  }
}

.Inactive {
  display: none;
}
