.BurgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  hr {
    width: 3rem;
    background-color: #b096e8;
    border-radius: 0.2rem;
    border: 0.2rem solid #b096e8;
  }
}

.Close {
  font-size: 4rem;
  font-weight: bold;
  margin: 1.5rem;
}

.Active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #b096e8;
  position: absolute;
  top: 10rem;
  right: -100rem;
  width: 30%;
  height: 100%;
  padding: 0;
  animation: slide-in 0s forwards;
  border-radius: 1%;
  z-index: 10;

  a {
    padding: 1rem 0.5rem 1rem 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }

  @keyframes slide-in {
    100% {
      right: 0;
    }
  }
}

.Inactive {
  display: none;
}
