$lavender-floral: #b096e8ff;
$prussian-blue: #14283eff;
$lavender-web: #e7e0f5ff;
$pistachio: #9ed189ff;
$black-coral: #546577;
$mint-cream: #F3F9F0;
$vivid-tangerine: #f0a693;

$breakpoint-xxs: 319px;
$breakpoint-xs: 480px;
$breakpoint-s: 768px;
$breakpoint-m: 1024px;
$breakpoint-l: 1200px;
$breakpoint-xl: 1440px;