@import 'src/commons/styles';

.Add {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem 3rem 1rem 3rem;

}

.Title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
}

.Tab {
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
  width: 100%;

  .TabHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;

    span {
      padding: 1rem;
      border-radius: 5%;
    }
  }

  .TabContent {
    margin-top: -0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 1%;
  }
}

.Show {
  display: block;
  background-color: $lavender-floral;
}

.Hide {
  display: none;
}

.SubSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0.5rem;
}

.AddButton {
  align-self: flex-end;
  margin: 2rem 0 0 0;
}

.SaveButton {
  align-self: flex-end;
  margin: 1rem 0 0 0;
}

