@import 'src/commons/styles';

.Add {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem 3rem 1rem 3rem;

  h2 {
    font-size: 3rem;
    margin: 0;
    color: $pistachio;
  }

  h3 {
    font-size: 2rem;
    margin: 0;
  }
}

.Title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 2rem;
}

.Tab {
  font-size: 1.5rem;
  margin: 1rem 0 0 0;

  .TabHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;

    span {
      padding: 1rem;
      border-radius: 5%;
    }
  }

  .TabContent {
    position: absolute;
    top: 23.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 1%;
    width: calc(100% - 7rem);
  }
}

.Show {
  display: block;
  background-color: $lavender-floral;
}

.Hide {
  display: none;
}

.SubSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0.5rem;
}

.AddButton {
  align-self: flex-end;
  margin: 2rem 0 0 0;
}

.VideoPreview {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 0.5rem;

    p {
      margin: 0 0 0 0.5rem;
      color: $prussian-blue;
    }
  }
}
