.TextInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.5rem 0 0.5rem 0;

  input, textarea {
    background: gray;
    height: 3rem;
    font: inherit;
    border: none;
    border-radius: 1.5%;
    color: white;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;

    &:focus {
      outline: none;

      &::placeholder {
        color: transparent;
      }
    }

    &::placeholder {
      color: white;
    }
  }
}

.Display {
  visibility: visible;
}

.Hide {
  visibility: hidden;
}

.Small {
  input {
    width: 10rem;
    font-size: 1.8rem;
  }
}

.Medium {
  input {
    width: 20rem;
    font-size: 1.5rem;
  }
}

.Large {
  textarea {
    height: 10rem;
    width: 20rem;
    font-size: 1.2rem;
  }
}