@import 'src/commons/styles';

.CancelButton {
  padding: 0.5rem;

  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $lavender-floral;
    border-radius: 10%;
    border: none;
    padding: 0.5rem;
    margin: 0;

    &:hover {
      background-color: $vivid-tangerine;
      cursor: pointer;
    }
  }
}

.Small {
  button {
    width: 1.5rem;
    height: 1.5rem;

    img {
      width: 1rem;
    }
  }
}

.Medium {
  button {
    width: 2rem;
    height: 2rem;

    img {
      width: 1.5rem;
    }
  }
}

.Large {
  button {
    width: 2.5rem;
    height: 2.5rem;

    img {
      width: 2rem;
    }
  }
}