.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 0.5rem 2.5rem;
}

.Logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  a {
    font-size: 5rem;
    font-weight: bold;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: #b096e8;
    text-decoration: none;
  }

  img {
    height: 5rem;
    border-radius: 30rem;
  }
}
