.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 1rem 3rem;
}

.Logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  h1 {
    font-size: 5rem;
    font-weight: bold;
    padding: 1rem;
    color: #b096e8;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  img {
    height: 5rem;
    border-radius: 30rem;
  }
}
