.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  margin: 0 0 0 1rem;
}

.Logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    color: #b096e8;
  }

  img {
    height: 3rem;
    margin: 0 1rem 1rem 0;
    border-radius: 30rem;
  }
}

.About {
  font-size: 1.75rem;
  font-weight: bold;
  color: #b096e8;
  text-decoration: none;
}