@import 'src/commons/imports';

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 0.5rem 2.5rem;
}

.Logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  a {
    font-weight: bold;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: #b096e8;
    text-decoration: none;
    font-size: 7rem;

    @media screen and (min-device-width: $breakpoint-xs) {
      font-size: 5rem;
    }
  }

  img {
    height: 7rem;
    border-radius: 30rem;

    @media screen and (min-device-width: $breakpoint-xs) {
      font-size: 5rem;
    }
  }
}
